.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px 0;
}

.App-container {
  display: flex;
}

.App-input,
.App-output {
  display: flex;
  width: 100%;
  padding: 15px;
}

.App-output {
  margin-top: 33px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.App-output button {
  margin-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  padding: 0 0 15px 0;
  text-align: left;
}

input {
  margin-top: 5px;
}
